<h2>Choose car that are going to be rented or returned !</h2>
<form action="/client/return" method="POST">
    <select name="returnId">
        {{#each array}}
            <option value="{{this.car}},{{this.name}}">{{this.name}} | {{this.brand}} | {{this.model}} | {{this.year}}</option>
        {{/each}}
    </select>
    <button type="submit">Return Your car</button>
</form>
<form action="/client/rent" method="POST">
    <select name="rentId">
        {{#each carsToRender}}
            <option value="{{this.id}}">{{this.brand}} | {{this.model}} | {{this.year}} | {{this.num}} szt.</option>
        {{/each}}
    </select>
    <input type="text" name="name" placeholder="Podaj swoje imie">
    <button type="submit">Rent Your car</button>
</form>